# The branch to clone from, defaults to master.
BRANCH=master

# The repository to clone from.
REPOSITORY=https://github.com/zorbyte/lambda-test.git

# The port for the server to listen to.
PORT=8080

# The Github Webhook Secret. DO NOT USE THIS EXAMPLE SECRET!!!
SECRET=q/MG2KsN3j3QKEU1nelbfuvxQI3oq6cCt2+0UySa8zw=

# Enables autoscaling.
AUTO_SCALE=1
